node_modules/
tools/node/
app.log
*.log
npm-debug.log*
public/uploads/*
!.gitkeep
.env
.env.local
.azure/
node.exe
npm
npx
npm.cmd
npx.cmd
nodevars.bat
corepack
corepack.cmd
.DS_Store
Thumbs.db
.vscode/
.idea/
